* {
  padding: 0;
  margin: 0;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

html, body {
  overflow: hidden;
  margin: 0
}

#game {
  position: absolute;
  left:     0%;
  top:      0%;
}

#gamecanvas {
  width: 100%;
  height: 100%;
}

/*#nickname {
  position: absolute;
  left: 45%;
  top: 80%;
  width: 10%;
  height: 10%;
}*/
